In [7]:
# Install missing package in this Jupyter environment
# Use %pip to ensure installation into the active Jupyter kernel
%pip install mlxtend

import pandas as pd

# mlxtend imports (add type ignore to silence editor/linter "could not be resolved" warnings)
from mlxtend.preprocessing import TransactionEncoder  # type: ignore
from mlxtend.frequent_patterns import apriori, association_rules  # type: ignore

Requirement already satisfied: mlxtend in c:\users\anamika\appdata\local\programs\python\python312\lib\site-packages (0.23.4)
Requirement already satisfied: scipy>=1.2.1 in c:\users\anamika\appdata\local\programs\python\python312\lib\site-packages (from mlxtend) (1.16.2)
Requirement already satisfied: numpy>=1.16.2 in c:\users\anamika\appdata\local\programs\python\python312\lib\site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in c:\users\anamika\appdata\local\programs\python\python312\lib\site-packages (from mlxtend) (2.3.2)
Requirement already satisfied: scikit-learn>=1.3.1 in c:\users\anamika\appdata\local\programs\python\python312\lib\site-packages (from mlxtend) (1.7.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\anamika\appdata\roaming\python\python312\site-packages (from mlxtend) (3.10.6)
Requirement already satisfied: joblib>=0.13.2 in c:\users\anamika\appdata\local\programs\python\python312\lib\site-packages (from mlxtend) (1.5.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\anamika\appdata\roaming\python\python312\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\anamika\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\anamika\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.59.2)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\anamika\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.9)
Requirement already satisfied: packaging>=20.0 in c:\users\anamika\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\anamika\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\anamika\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.2.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\anamika\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\anamika\appdata\local\programs\python\python312\lib\site-packages (from pandas>=0.24.2->mlxtend) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\anamika\appdata\local\programs\python\python312\lib\site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\anamika\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn>=1.3.1->mlxtend) (3.6.0)
Requirement already satisfied: six>=1.5 in c:\users\anamika\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
df = pd.read_csv("Groceries_dataset.csv")
df

       Member_number        Date        itemDescription
0               1808  21-07-2015         tropical fruit
1               2552  05-01-2015             whole milk
2               2300  19-09-2015              pip fruit
3               1187  12-12-2015       other vegetables
4               3037  01-02-2015             whole milk
...              ...         ...                    ...
38760           4471  08-10-2014          sliced cheese
38761           2022  23-02-2014                  candy
38762           1097  16-04-2014               cake bar
38763           1510  03-12-2014  fruit/vegetable juice
38764           1521  26-12-2014               cat food

[38765 rows x 3 columns]

In [12]:
df_grouped = df.groupby(['Member_number', 'Date'])['itemDescription'].apply(list).reset_index()
df_grouped

,Member_number,Date,itemDescription
0,1000,15-03-2015,"[sausage, whole milk, semi-finished bread, yog..."
1,1000,24-06-2014,"[whole milk, pastry, salty snack]"
2,1000,24-07-2015,"[canned beer, misc. beverages]"
3,1000,25-11-2015,"[sausage, hygiene articles]"
4,1000,27-05-2015,"[soda, pickled vegetables]"
...,...,...,...
14958,4999,24-01-2015,"[tropical fruit, berries, other vegetables, yo..."
14959,4999,26-12-2015,"[bottled water, herbs]"
14960,5000,09-03-2014,"[fruit/vegetable juice, onions]"
14961,5000,10-02-2015,"[soda, root vegetables, semi-finished bread]"
14962,5000,16-11-2014,"[bottled beer, other vegetables]"

transactions =
df_grouped['itemDescription'].tolist()
    1. Libraries like mlxtend or any association rule miner typically require the input in the format.
    2. tolist() converts the entire column into a python list of lists 
    final Output
    transaction=[
    ['Milk','Bread']
    ['Eggs']
    ['Butter']
    ]

In [13]:
transactions = df_grouped['itemDescription'].tolist()

In [14]:
te = TransactionEncoder()
te_array = te.fit(transactions).transform(transactions)
df_encoded = pd.DataFrame(te_array, columns=te.columns_)
df_encoded

,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,beef,berries,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14958,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,True,False
14959,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14960,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14961,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14962,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
frequent_itemsets = apriori(df_encoded, min_support=0.02, use_colnames=True)
print(frequent_itemsets)

     support                 itemsets
0   0.021386               (UHT-milk)
1   0.033950                   (beef)
2   0.021787                (berries)
3   0.045312           (bottled beer)
4   0.060683          (bottled water)
5   0.037626            (brown bread)
6   0.035220                 (butter)
7   0.046916            (canned beer)
8   0.027869                (chicken)
9   0.023592              (chocolate)
10  0.053131           (citrus fruit)
11  0.031611                 (coffee)
12  0.023658          (cream cheese )
13  0.033683                   (curd)
14  0.023592                (dessert)
15  0.037091          (domestic eggs)
16  0.037760            (frankfurter)
17  0.028002      (frozen vegetables)
18  0.034017  (fruit/vegetable juice)
19  0.021854         (hamburger meat)
20  0.032213              (margarine)
21  0.022121                (napkins)
22  0.038896             (newspapers)
23  0.020250                 (onions)
24  0.122101       (other vegetables)
25  0.051728                 (pastry)
26  0.049054              (pip fruit)
27  0.037091                   (pork)
28  0.110005             (rolls/buns)
29  0.069572        (root vegetables)
30  0.060349                (sausage)
31  0.047584          (shopping bags)
32  0.097106                   (soda)
33  0.067767         (tropical fruit)
34  0.043708     (whipped/sour cream)
35  0.023993            (white bread)
36  0.157923             (whole milk)
37  0.085879                 (yogurt)